In [ ]:
from json import JSONEncoder
from csv import DictReader, DictWriter
import pandas as pd
import numpy as np

In [6]:
!pip install pandas numpy

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/73/75/42a0ec87e4f709d8d37d49f049b292578f14a4f1f6dc32a7f3c3c204e546/pandas-0.25.1-cp36-cp36m-macosx_10_9_x86_64.macosx_10_10_x86_64.whl
Collecting numpy
  Using cached https://files.pythonhosted.org/packages/05/cb/9ef2b8901e5969851b539c0f45ab8f2794bac34490e2d351d72b660d6e05/numpy-1.17.2-cp36-cp36m-macosx_10_6_intel.whl
Collecting pytz>=2017.2 (from pandas)
  Using cached https://files.pythonhosted.org/packages/87/76/46d697698a143e05f77bec5a526bf4e56a0be61d63425b68f4ba553b51f2/pytz-2019.2-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/charlesponti/.pyenv/versions/3.6.9/lib/python3.6/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /Users/charlesponti/.pyenv/versions/3.6.9/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.17.2 pandas-0.25.1 pytz-2019.2

In [7]:
import pandas as pd

In [8]:
print(pd)

<module 'pandas' from '/Users/charlesponti/.pyenv/versions/3.6.9/lib/python3.6/site-packages/pandas/__init__.py'>

In [9]:
transactions = pd.read_csv('./data/transactions.csv', delimiter=',')

In [10]:
print(transactions)

           Date           Description  Original Description  Amount  \
0    10/06/2019          La Parisiene         LA PARISIENNE   22.19
1    10/06/2019                Amazon    AMAZON MARKETPLACE   15.23
2    10/05/2019  CITIZENS OF BLEECKER  CITIZENS OF BLEECKER   25.19
3    10/05/2019                   CVS          CVS PHARMACY    6.47
4    10/04/2019            RESTAURANT            RESTAURANT   25.04
..          ...                   ...                   ...     ...
514   5/07/2019                Stockx                StockX   87.50
515   5/07/2019                Stockx                StockX   88.38
516   5/07/2019               Spotify           Spotify USA    9.99
517   5/06/2019   ATM Deposit (Check)   ATM Deposit (Check)  121.00
518  12/12/2018     The Cantab Lounge     The Cantab Lounge   14.00

    Transaction Type        Category                Account Name  Labels Notes
0              debit     Restaurants                  Green Card     NaN   NaN
1              debit        Shopping                  Green Card     NaN   NaN
2              debit  Alcohol & Bars                  Green Card     NaN   NaN
3              debit        Pharmacy                  Green Card     NaN   NaN
4              debit     Restaurants                  Green Card     NaN   NaN
..               ...             ...                         ...     ...   ...
514           credit          Income     CapitalOne 360 Checking     NaN   NaN
515           credit          Income     CapitalOne 360 Checking     NaN   NaN
516            debit           Music  CapitalOne Quicksilver One     NaN   NaN
517           credit          Income     CapitalOne 360 Checking     NaN   NaN
518            debit  Alcohol & Bars                        Cash     NaN   NaN

[519 rows x 9 columns]

In [95]:
transactions.loc[2]

Date                              10/05/2019
Description             CITIZENS OF BLEECKER
Original Description    CITIZENS OF BLEECKER
Amount                                 25.19
Transaction Type                       debit
Category                      Alcohol & Bars
Account Name                      Green Card
Labels                                   NaN
Notes                                    NaN
Name: 2, dtype: object

In [96]:
df = pd.DataFrame({"Student1":{"0":"OK","1":"Awful","2":"Acceptable"},"Student2":{"0":"Perfect","1":"Awful","2":"OK"},"Student3":{"0":"Acceptable","1":"Perfect","2":"Poor"}})

In [97]:
print(df)

     Student1 Student2    Student3
0          OK  Perfect  Acceptable
1       Awful    Awful     Perfect
2  Acceptable       OK        Poor

In [99]:
print(df.replace(['Awful'], [0]))

     Student1 Student2    Student3
0          OK  Perfect  Acceptable
1           0        0     Perfect
2  Acceptable       OK        Poor

In [114]:
print(
    transactions
        .replace(['Green Card'], ['American Express Green'])
        .fillna('')
)

           Date           Description  Original Description  Amount  \
0    10/06/2019          La Parisiene         LA PARISIENNE   22.19
1    10/06/2019                Amazon    AMAZON MARKETPLACE   15.23
2    10/05/2019  CITIZENS OF BLEECKER  CITIZENS OF BLEECKER   25.19
3    10/05/2019                   CVS          CVS PHARMACY    6.47
4    10/04/2019            RESTAURANT            RESTAURANT   25.04
..          ...                   ...                   ...     ...
514   5/07/2019                Stockx                StockX   87.50
515   5/07/2019                Stockx                StockX   88.38
516   5/07/2019               Spotify           Spotify USA    9.99
517   5/06/2019   ATM Deposit (Check)   ATM Deposit (Check)  121.00
518  12/12/2018     The Cantab Lounge     The Cantab Lounge   14.00

    Transaction Type        Category                Account Name Labels Notes
0              debit     Restaurants      American Express Green
1              debit        Shopping      American Express Green
2              debit  Alcohol & Bars      American Express Green
3              debit        Pharmacy      American Express Green
4              debit     Restaurants      American Express Green
..               ...             ...                         ...    ...   ...
514           credit          Income     CapitalOne 360 Checking
515           credit          Income     CapitalOne 360 Checking
516            debit           Music  CapitalOne Quicksilver One
517           credit          Income     CapitalOne 360 Checking
518            debit  Alcohol & Bars                        Cash

[519 rows x 9 columns]

In [126]:
from datetime import datetime
transactions.apply(lambda x: datetime.strptime(x['Date'], '%m/%d/%Y'))

KeyError: ('Date', 'occurred at index Date')

0      10/06/2019
1      10/06/2019
2      10/05/2019
3      10/05/2019
4      10/04/2019
          ...
514     5/07/2019
515     5/07/2019
516     5/07/2019
517     5/06/2019
518    12/12/2018
Name: Date, Length: 519, dtype: object